

/* Estilos para la paginación */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    list-style: none;
    margin-right: 5px;
}

.pagination .page-item .page-link {
    display: block;
    padding: 8px 12px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination .page-item .page-link:hover {
    background-color: #f0f0f0;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid orange;
}
